<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Su Santidad Leo Messi </title>
</head>

<body>
    <h1>Leo Messi Tribute Page</h1>
    <p>Lionel Andrés Messi Cuccittini (Rosario, Santa Fe; 24 de junio de 1987), conocido como Leo Messi,7​ es un futbolista argentino que juega como delantero o centrocampista.8​9​ Ha desarrollado toda su carrera en el F. C. Barcelona de la Primera División de España y en la selección de Argentina, equipos de los que es capitán.10​11​</p>
    <p>There are several forms of role-playing games. The original form, sometimes called the tabletop role-playing game
        (TRPG), is conducted through discussion, whereas in live action role-playing (LARP), players physically perform
        their characters' actions. In both of these forms, an arranger called a game master (GM) usually decides on the
        rules and setting to be used, while acting as the referee; each of the other players takes on the role of a
        single character.</p>
    <p>Considerado con frecuencia el mejor jugador del mundo y 
	uno de los mejores de todos los tiempos,12​ es el único futbolista en la historia que ha ganado, entre otras distinciones,
	 seis veces el Balón de Oro (dos Balones de Oro y cuatro FIFA Balones de Oro), los cuatro primeros de forma consecutiva;13​ 
	 además de recibir seis Botas de Oro,14​ un FIFA World Player,15​ y un The Best FIFA.16​ En 2020, se convirtió en el primer futbolista en recibir un premio Laureus.17​
	Con el Barcelona ha ganado 34 títulos, entre ellos, diez de La Liga y cuatro de la Liga de Campeones de la UEFA, así como seis títulos de la Copa del Rey.18​19​20​.
	Veremos a continuación sus seis balones de oro</p>
    <a href="https://es.wikipedia.org/wiki/Lionel_Messi" >go to Messi wiki</a>

    <h2>2009: El nacimiento de la leyenda</h2>
    <p>Leo Messi recibía su primer premio que le acreditaba como el mejor futbolista del mundo después de conquistar el primer triplete del FC Barcelona,
	 y el primer 'sextete', hasta ahora inigualable en la historia del fútbol. De la mano de Guardiola el argentino se erigió como la gran estrella del fútbol mundial, 
	 el heredero de Ronaldinho en Barcelona y el gran competidor de Cristiano por el trono del fútbol mundial. En 2009, Leo lo ganó todo: Liga, Copa del Rey, Champions League,
	  Supercopa de España, Supercopa de Europa y Mundial de Clubes. Además, sumó 41 goles como extremo, en una delantera con Eto'o y Henry. Casi nada..</p>
    <a href="https://www.20minutos.es/deportes/noticia/4074747/0/seis-balones-oro-messi/">go to page</a>

    <h2>2010: Su premio más polémico</h2>
	<p>Messi recibió en 2010 el Balón de Oro por encima de dos de sus compañeros en el FC Barcelona: Xavi e Iniesta.
	Mientras que el Barça solo ganó LaLiga esa temporada, los españoles habían ganado también el Mundial ese mismo año y, 
	tras el gol de Iniesta en la final, el manchego parecía el favorito para llevárselo. Por su parte, Xavi, fue el cerebro
	de la selección campeona del mundo y del Barcelona de Messi, y se encontraba en uno de los momentos más dulces de su carrera.
	Además, Ronaldo acababa de llegar a LaLiga y el duelo entre titanes definiría quién es el mejor. Sin embargo, Messi fue Messi,
	y contra eso hay poco que hacer. Leo anotó en 2010 la friolera de 60 goles entre club y selección, que le valieron para llevarse
	su segundo Balón de Oro y superar a Cristiano Ronaldo..</p>
    <a
        href="https://www.20minutos.es/deportes/noticia/4074747/0/seis-balones-oro-messi/">go
        to page</a>

    <h2>2011: Mítico</h2>
    <p>Segunda Champions en tres años para Leo Messi que era el rey indiscutible del fútbol mundial. 
	Pese a la mejora de Cristiano en el fútbol español, el argentino se encargó de ganarle en los dos
	duelos ligueros, eliminar al Real Madrid en semifinales de Champions -con un gol antológico- y solo
  	sucumbió en Copa del Rey contra el portugués. 59 goles y 29 asistencias (además de LaLiga y la Champions)
	avalaban la candidatura del argentino..</p>
    <a href="https://www.20minutos.es/deportes/noticia/4074747/0/seis-balones-oro-messi/">go to page</a>

	<h2>2012: Poker</h2>
    <p>En 2012, Messi se convirtió en el primer jugador en la historia en ganar cuatro Balones de Oro,
	y además lo hizo de forma consecutiva. El argentino además rompió uno de los récords más espectaculares
	de los últimos años, marcando 91 goles en todas las competiciones en un año natural en tan solo 69 
	partidos. El año más prolífico de Messi y su temporada más generosa, en la que repartió 32 asistencias. 
	Números de otra galaxia futbolística, que le valieron para levantar su cuarto galardón. Pese a que solo
	ganase la Copa del Rey, con esos números era impensable que fuese otro jugador el que se llevase el premio.</p>
    <a href="https://www.20minutos.es/deportes/noticia/4074747/0/seis-balones-oro-messi/">go to page</a>



	<h2>2015: Cinco y cinco</h2>
    <p>El segundo mejor año de la historia del FC Barcelona se coronó con el galardón a Messi. 
	Leo contaba probablemente con el mejor equipo que le ha rodeado nunca, sumando a los Xavi,
	Piqué, Iniesta y Dani Alves, a un Luis Suárez que acababa de llegar al Barcelona y a un Neymar 
	endiablado que se entendía a las mil maravillas con el argentino. Y por si era poco, 
	todos estaban prácticamente en su mejor momento. En 2015 Messi consiguió otro triplete 
	y solo le faltó la Supercopa de España para completar otro sextete, que casualmente, 
	evitó Ernesto Valverde con su Athletic. Un año que, además, el Barcelona culminaría 
	con un 0-4 en el Bernabéu a principios de la 15/16.</p>
    <a href="https://www.20minutos.es/deportes/noticia/4074747/0/seis-balones-oro-messi/">go to page</a>


	<h2>2019: Messi eterno</h2>
    <p>Finalmente, Leo levantó su sexto Balón de Oro y volvió a desempatar a Cristiano Ronaldo, 
	con cinco galardones. En su año menos goleador de la última década, Messi no ha empeorado
	pese a bajar sus números. El argentino ha demostrado en los últimos años una madurez futbolística
	inigualable, y ha entendido que para seguir siendo tan determinante como antes ha de cambiar su juego.
	Dicho y hecho. El argentino ya no hará tantos goles, pero da los pases para que otros lo hagan,
	o abre el hueco para que otro dé el pase. A sus 32 años, sigue siendo tan decisivo como cuando 
	cuando tenía 25 años. Una evolución a un fútbol más técnico y menos eléctrico. Más pases o disparos
	 a la escuadra que eslálones y conducciones de treinta metros. Y pese a que la teoría, a priori,
	es fácil, Messi hace que la práctica también lo sea.</p>
    <a href="https://www.20minutos.es/deportes/noticia/4074747/0/seis-balones-oro-messi/">go to page</a>



	
</body>

</html>
